@{
    ViewData["Title"] = "Pipelines";
}

<div style="padding: 24px;">
    <h1>Pipelines</h1>

    <p style="color: gray;">
        Pipeline page created.
        <br />
        Design and functionality will be added later.
    </p>
</div>
